html
  head
    title Blog List
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/fontawesome-all.css')
  body
    .container
      nav.navbar.fixed-top.navbar-expand-sm.navbar-dark.bg-primary
        a.navbar-brand(href='/') My Blog
        #navbarNavAltMarkup.collapse.navbar-collapse
          .navbar-nav
            a.nav-item.nav-link.active(href='/blogList') List Blogs
            a.nav-item.nav-link.active(href='/blogAdd') Add Blog
      p
      each blog in blogs
        .col-xs-12.list-group-item
           p
             (href="/blogList/#{blog._id}") #{blog.content}
           p
             a.btn.btn-default.pull-right(href="/blogEdit/#{blog._id}") Edit
             a.btn.btn-default.pull-right(href="/blogDelete/#{blog._id}") Delete 
        p
          // card
          // container
          script(src='/js/jquery.min.js')
          script(src='/js/bootstrap.min.js')
