html
  head
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/fontawesome-all.css')
  body
    .container
      nav.navbar.fixed-top.navbar-expand-sm.navbar-dark.bg-primary
        a.navbar-brand(href='/') My Blog
        #navbarNavAltMarkup.collapse.navbar-collapse
          .navbar-nav
            a.nav-item.nav-link.active(href='/blogList') List Blogs
            a.nav-item.nav-link.active(href='/blogAdd') Add Blog.
  .row
    .col-lg-6
      form(name='userForm' ng-submit='vm.submit()' ng-controller='AddController' style='padding: 20px')
     .form-group
        .card.border-primary(style='width: 50%')
            label.text-primary(for='summary') Blog Title
            input#title.form-control(name='blogTitle')
            label.text-primary(for='detail') Blog Text
            textarea#text.form-control(rows='3', name='blogText')
            input.btn.btn-primary(type='submit', value='Add Blog')
    // container
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
